body{

}

#banner{
width: 1347px;
height: 500px;
}

.items{
	font-style: italic;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

#missão{
	font-size: 20px;
}

em strong{
	color: #FF0000;
}

.items{

	font-style: italic;
}